<% if @violations.empty? %>
  <h1>Violations</h1>

  <a href="?rules[]=label">Violate rule: label</a>
  <a href="?rules[]=image-alt">Violate rule: image-alt</a>
  <a href="?rules[]=button-name">Violate rule: button-name</a>

  <form>
    <label for="rules">Rules to violate</label>
    <input id="rules" name="rules[]">

    <button>Submit</button>
  </form>

  <button type="button" onclick="alert('<%= params.fetch(:alert, "Alert!") %>')">Open alert</button>
  <button type="button" onclick="confirm('<%= params.fetch(:confirm, "Confirm?") %>')">Open confirm</button>
  <button type="button" onclick="prompt('<%= params.fetch(:prompt, "Hello?") %>')">Open prompt</button>
<% end %>

<% if @violations.label? %>
  <h1>label</h1>

  <input>
<% end %>

<% if @violations.image_alt? %>
  <h1>image-alt</h1>

  <img src="https://example.com">
<% end %>
